---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import BaseLayout from '@layouts/BaseLayout.astro';
import Ingredients from '@components/Ingredients.astro';
import { client } from '@lib/contentfulClient';
import type {
	IRecipeFields,
	IIngredientFields,
	// @ts-ignore
} from '@types/generated/contentful.d.ts';
import BaseFooter from '@layouts/BaseFooter.astro';

interface IIngredientsUnresolved {
	amount: string;
	ingredientId: string;
}

export async function getStaticPaths() {
	const data = await client
		.getEntries<IRecipeFields>({
			content_type: 'recipe',
		})
		.then((entries) => entries.items)
		.catch(() => []);

	return data.map((recipe) => {
		return {
			params: { slug: recipe.fields.slug },
			props: { recipe },
		};
	});
}

const { slug } = Astro.params;
const { recipe } = Astro.props;
const permalink = `https://kaesediebe.netlify.app/recipe/${slug}`;
const {
	title,
	duration,
	vegetarian,
	category,
	ingredients,
	description,
	image,
} = recipe.fields as IRecipeFields;

const getIngredientIds: string[] = ingredients?.map(
	(elem: IIngredientsUnresolved) => elem.ingredientId
);
const ingredientList: IIngredientFields = await client
	.getEntries<IIngredientFields>({
		content_type: 'ingredient',
		'sys.id[in]': getIngredientIds.join(),
	})
	.then((entries) =>
		ingredients.map((elem: IIngredientsUnresolved) => {
			const itemName = entries.items.find(
				(items) => items.sys.id === elem.ingredientId
			);
			return { amount: elem.amount, title: itemName?.fields.title };
		})
	);

const htmlDescription = documentToHtmlString(description);
---

<BaseLayout title={title} description={title} permalink={permalink}>
	<header>
		<nav>
			<a href='/'>
				<button class='btn glass btn-circle fixed bottom-4 left-3 z-20'>
					<svg
						clip-rule='evenodd'
						fill-rule='evenodd'
						stroke-linejoin='round'
						stroke-miterlimit='2'
						viewBox='0 0 24 24'
						xmlns='http://www.w3.org/2000/svg'
						><path
							d='m13.789 7.155c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591 1.299-1.002 3.945-3.044 5.498-4.243z'
						></path>
					</svg>
				</button>
			</a>
		</nav>
	</header>
	<main class='grid gap-6 mt-4 mb-8 mx-4'>
		<div class='card bg-base-100 shadow-xl'>
			{image ? (
				<img src={image?.fields.file.url} alt={image?.fields.file.fileName} />
			) : (
				<img src="assets/placeholder.png" alt="Platzhalter Bild" />
			)}
			<div class='card-body p-4'>
				<h2 class='card-title inline-block'>
					{title}
					{vegetarian && <div class="badge badge-secondary">Veggi</div>}
				</h2>
				<div>
					<div class='badge badge-outline'>{category}</div>
					<div class='badge badge-outline'>{duration}</div>
				</div>
			</div>
		</div>
		<Ingredients data={ingredientList} />
		<div class='card bg-base-100 shadow-xl'>
			<div class='card-body px-4 py-4'>
				<h2 class='card-title'>Zubereitung</h2>
				<div set:html={htmlDescription}></div>
			</div>
		</div>
	</main>
	<BaseFooter />
</BaseLayout>
