---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type {
	IRecipeFields,
	IIngredientFields,
} from '@customTypes/generated/contentful';
import { client } from '@lib/contentfulClient';
import BaseLayout from '@layouts/BaseLayout.astro';
import BaseHeader from '@layouts/BaseHeader.astro';
import Ingredients from '@components/astro/Ingredients.astro';
import Badges from '@components/solidjs/Badges';
import Like from '@components/solidjs/Like';
import { SITE } from 'src/config';

interface IIngredientsUnresolved {
	amount: string;
	ingredientId: string;
}

export async function getStaticPaths() {
	const { items } = await client.getEntries<IRecipeFields>({
		content_type: 'recipe',
	});

	return items.map((recipe) => {
		return {
			params: { slug: recipe.fields.slug },
			props: { recipe },
		};
	});
}

const { slug } = Astro.params;
const { recipe } = Astro.props;
const permalink = `${SITE.url}/recipe/${slug}`;
const {
	title,
	duration,
	vegetarian,
	category,
	ingredients,
	description,
	image,
} = recipe.fields as IRecipeFields;

const getIngredientIds: string[] = ingredients?.map(
	(elem: IIngredientsUnresolved) => elem.ingredientId
);
const ingredientList: IIngredientFields = await client
	.getEntries<IIngredientFields>({
		content_type: 'ingredient',
		'sys.id[in]': getIngredientIds.join(),
	})
	.then((entries) =>
		ingredients.map((elem: IIngredientsUnresolved) => {
			const itemName = entries.items.find(
				(items) => items.sys.id === elem.ingredientId
			);
			return { amount: elem.amount, title: itemName?.fields.title };
		})
	);

const htmlDescription = description && documentToHtmlString(description);
---

<BaseLayout title={` - ${title}`} permalink={permalink} transition>
	<BaseHeader arrowBack share />
	<main class='grid gap-6 max-w-md mx-auto mb-24 p-4'>
		<article class='card bg-base-100 shadow-xl'>
			{image ? (
				<img
					class="w-full bg-neutral rounded-t-2xl"
					width="400"
					height="400"
					src={image?.fields.file.url + '?fm=webp'}
					alt={image?.fields.title}
				/>
			) : (
				<img
					class="w-full bg-neutral rounded-t-2xl"
					width="400"
					height="400"
					src="assets/placeholder.png"
					alt=""
				/>
			)}
			<div class='card-body p-4 pb-8'>
				<h1 class='card-title inline-block'>
					{title}
					{vegetarian && <span class="badge badge-secondary ml-1">Veggi</span>}
				</h1>
				<Badges duration={duration} category={category} />
				<Like data={recipe.fields} client:only="solid-js" />
			</div>
		</article>
		<Ingredients data={ingredientList} />
		{description && (
			<div class="card bg-base-100 shadow-xl">
				<div class="card-body p-4 pb-8">
					<h2 class="card-title">Zubereitung</h2>
					<div set:html={htmlDescription} />
				</div>
			</div>
		)}
	</main>
</BaseLayout>
