---
import type { IRecipeFields } from '@customTypes/generated/contentful';
export interface ICardProps {
	data: IRecipeFields;
}

const { data } = Astro.props as ICardProps;
---

<a href={`recipe/${data.slug}`}>
	<div class='card card-side bg-base-100 shadow-xl'>
		<figure class='w-2/5 flex-none'>
			{data.image ? (
				<img
					width="140"
					height="140"
					src={data.image?.fields.file.url}
					alt={data.image?.fields.file.fileName}
				/>
			) : (
				<img
					width="140"
					height="140"
					src="assets/placeholder.png"
					alt="Platzhalter Bild"
				/>
			)}
		</figure>
		<div class='card-body p-4'>
			<h2 class='card-title inline-block'>
				{data.title}
				{data.vegetarian && (
					<div class="badge badge-secondary">
						Veggi
					</div>
				)}
			</h2>
			<div>
				<div class='badge'>{data.category}</div>
				<div class='badge'>{data.duration}</div>
			</div>
		</div>
	</div>
</a>
