---
// @ts-ignore
import type { IRecipeFields } from "../types/generated/contentful.d.ts";

export interface CardProps {
	data: IRecipeFields
}

const { category, duration, image, title, vegetarian, slug } = (Astro.props as CardProps).data;
---

<div class="card bg-base-100 shadow-xl">
	<a href={`recipe/${slug}`}>
		<figure><img src={image?.fields.file.url} alt={image?.fields.file.fileName} /></figure>
		<div class="card-body p-4">
			<h2 class="card-title">
				{title}
				<div class="badge badge-secondary">NEW</div>
			</h2>
			<div class="card-actions justify-end">
				{vegetarian && <div class="badge badge-outline">Veggi</div>}
				<div class="badge badge-outline">{category}</div>
				<div class="badge badge-outline">{duration}</div>
			</div>
		</div>
	</a>
</div>