---
// @ts-ignore
import type { IRecipeFields } from '@types/generated/contentful.d.ts';
export interface ICardProps {
	data: IRecipeFields;
}

const { data } = Astro.props as ICardProps;
---

<a href={`recipe/${data.slug}`}>
	<div class='card card-side bg-base-100 shadow-xl'>
		<figure class='w-2/5 flex-none'>
			{data.image ? (
				<img
					src={data.image?.fields.file.url}
					alt={data.image?.fields.file.fileName}
				/>
			) : (
				<img src="assets/placeholder.png" alt="Platzhalter Bild" />
			)}
		</figure>
		<div class='card-body p-4'>
			<h2 class='card-title inline-block'>
				{data.title}
				{data.vegetarian && <div class="badge badge-secondary">Veggi</div>}
			</h2>
			<div>
				<div class='badge badge-outline'>{data.category}</div>
				<div class='badge badge-outline'>{data.duration}</div>
			</div>
			<div>
				<button class='btn glass btn-sm btn-circle absolute bottom-4 right-4'>
					<svg
						class='fill-neutral'
						clip-rule='evenodd'
						fill-rule='evenodd'
						stroke-linejoin='round'
						stroke-miterlimit='2'
						viewBox='0 0 24 24'
						xmlns='http://www.w3.org/2000/svg'
						><path
							d='m10.211 7.155c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591-1.299-1.002-3.945-3.044-5.498-4.243z'
						></path>
					</svg>
				</button>
			</div>
		</div>
	</div>
</a>
